<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Локальный файловый сервер</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Подключение CSS-файла -->
</head>
<body>
    <div class="container">
        <h1>Домашний сервер</h1>

        <form class="upload-form" method="post" enctype="multipart/form-data" action="/upload">
            <label class="custom-file-upload">
                Выбрать файл
                <input type="file" name="file" id="file-input">
            </label>
            <input type="submit" value="Загрузить" class="upload-button">
        </form>

        <h2>Загруженные файлы:</h2>
        <ul class="file-list">
            {% for file in files %}
                <li class="file-item">
                    {{ file }}
                    <a href="/download/{{ file }}">(скачать)</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
